<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间使用对应的Mapper类全限定名称 -->
<mapper namespace="org.zongf.wx.power.nation.mapper.ImageMapper">

    <sql id="columns_basic">
        id, category, status, basicOcr, accurateOcr, createTime
    </sql>

    <!-- 定义所有字段 -->
    <sql id="columns_all">
        <include refid="columns_basic" />, content
    </sql>

    <!-- 查询图片信息, 不包含图片内容-->
    <select id="queryInfo" resultType="org.zongf.wx.power.nation.po.ImagePO">
        select <include refid="columns_basic" />
        from s_image
        where id = #{id}
    </select>

    <!-- 查询图片信息, 只包含图片内容-->
    <select id="queryContent" resultType="org.zongf.wx.power.nation.po.ImagePO">
        select content
        from s_image
        where id = #{id}
    </select>

    <!-- 更新状态 -->
    <update id="updateStatus">
        update s_image
        set status=#{status}
        where id = #{id}
    </update>

    <!-- 更新locOcr 字段 -->
    <update id="updateAccurateOcr">
        update s_image
        set accurateOcr=#{accurateOcr}, status='1'
        where id = #{id}
    </update>

    <!-- 新增 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into s_image(<include refid="columns_all" />)
        values (null, #{category}, #{status}, #{basicOcr}, #{accurateOcr}, #{createTime}, #{content})
    </insert>

    <!-- 删除 -->
    <delete id="delete">
        delete from s_image where id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="queryByPager" resultType="org.zongf.wx.power.nation.po.ImagePO">
        select <include refid="columns_basic" />
        from s_image
        where category = #{category} and status = #{status}
    </select>

    <select id="hasSameOcr" resultType="java.lang.Boolean">
        select count(id)
        from s_image
        where category = #{category} and basicOcr = #{basicOcr}
    </select>

    <select id="queryNext" resultType="org.zongf.wx.power.nation.po.ImagePO">
        select <include refid="columns_all" />
        from s_image
        where category = #{category} and status = #{status}
        order by id
        limit 1
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(id)
        from s_image
        where category = #{category} and status = #{status}
    </select>

    <!-- 清空表中数据, 同时重置自增序列从0开始 -->
    <delete id="clear">
        truncate table s_image
    </delete>
</mapper>