<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间使用对应的Mapper类全限定名称 -->
<mapper namespace="org.zongf.wx.power.nation.mapper.SpecialItemMapper">

    <!-- 定义所有字段 -->
    <sql id="columns_all">
         id, specialId, title, type, answers, options, seqNo
    </sql>

    <!-- 新增 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into s_special_item(<include refid="columns_all" />)
        values (null, #{specialId}, #{title},#{type}, #{answers}, #{options}, #{seqNo})
    </insert>

    <!-- 查询 -->
    <select id="queryList" resultType="org.zongf.wx.power.nation.po.SpecialItemPO">
        select <include refid="columns_all" />
        from s_special_item
        where specialId = #{specialId}
        order by seqNo asc
    </select>

</mapper>