<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间使用对应的Mapper类全限定名称 -->
<mapper namespace="org.zongf.wx.power.nation.mapper.SpecialQuestionMapper">

    <!-- 定义所有字段 -->
    <sql id="columns_all">
         id, name, startDate, endDate, createTime
    </sql>

    <!-- 新增 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into s_special_question(<include refid="columns_all" />)
        values (null, #{name}, #{startDate}, #{endDate}, #{createTime})
    </insert>

    <!-- 删除 -->
    <delete id="delete">
        delete from s_special_question where id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="queryAll" resultType="org.zongf.wx.power.nation.po.SpecialQuestionPO">
        select <include refid="columns_all" />
        from s_special_question
        order by createTime desc
        limit #{maxNum}
    </select>

    <!-- 通过id查询 -->
    <select id="queryById" resultType="org.zongf.wx.power.nation.po.SpecialQuestionPO">
        select <include refid="columns_all" />
        from s_special_question
        where id = #{id}
    </select>

</mapper>