*{
    margin: 0;
    padding: 0;
}

/* 左侧预览区*/
#left{
    width:40%;
    padding-top:35px;
    text-align: right;
    padding-right: 50px;
    overflow: hidden;
}

#left img{
    width: 360px;
    height: 640px;
}

/* 预览区*/
#cnt{
    padding-top:35px;
    padding-left: 50px;
}

/* 模拟截图大小*/
#cnt #border{
    width: 360px;
    height: 640px;
    background-color: #C4A890;
}

/* 模拟手机信号区 */
#cnt #signle{
    width: 100%;
    height: 20px;
}

/* 按钮区 */
#cnt #btns{
    float: left;
    height: 100%;
    float: left;
    padding-top: 150px;
    padding-left: 20px;
}

#cnt #btns button{
    width: 100px;
    height: 35px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #CCE6FF;
    margin-left: 5px;
}

#cnt #btns button:hover{
    background-color: #3DC074;
    font-size: 18px;
}

/* 问题区域 */

#question{
    width: 330px;
    height: 510px;
    margin: 76px 15px 20px 15px;
    background-color: #FFF;
    border-radius: 5px;
    text-align: center
}

/* 题目区域 */
#question #title{
    list-style: none;
    padding-top: 50px;
}

#question #title li input{
    width: 310px;
    font-size: 15px;
    margin-top: 2px;
}

/* 题目答案区 */
#question #option{
    list-style: none;
    padding: 10px;
    margin-top: 20px;
}

#option li{ /* 答题选项*/
    min-height: 46px;
    line-height: 22px;
    border: 1px solid #EEEEF4;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    padding: 11px 15px 11px 15px;

}

/* 正确答案颜色 */
.answer_bg{
    background-color:#3DC074;
}
.option_bg{
    background-color: #FBFBFB;
}

.title_focus{
    border: solid 1px #00D4E5;
}

.border_none{
    border: none;
}















